body {
	background-color: #54575B !important;
}

button, .form-submit {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.wrapper {
	z-index: 1;
	min-height: 100vh;
  height: 100%;
}

.searchinput {
	height: 50px;
	background: #FEE5AC;
	border-radius: 12px;
	margin-top: 2em !important;
	width: 62rem !important;
}

.filter {
	background-color: #383B40;
	height: 30rem;
	border-radius: 20px;
	position: sticky;
  top: 10rem;
 }

.slk {
	background-color: #383B40;
	height: 30rem;
	border-radius: 20px;
	position: sticky;
  top: 10rem;
  text-align: center;
}

.content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.ad {
	background-color: #383B40;
	width: 48%;
	height: 25rem;
	border-radius: 20px;
	margin-top: 2em;
	/*border: 1px solid #8A8681;*/
}

.header {
	display: flex;
	justify-content: space-around;
	height: 6rem;
}

.background-form {
	background-color: rgba(0, 0, 0, 0.70);
	position: absolute;
	z-index: 2;
	height: 2000px;
	min-width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.hide {
	display: none;
}

.create-ad {
	background-color: #2C9221;
	width: 10rem;
	height: 2.5rem;
	border-radius: 12px;
	color: #DCE0E8;
	font-size: 1.5rem;
	margin-top: 26rem;
}

.create-ad:hover, .form-submit:hover {
	background-color: #5EC155;
}

.form-ad {
	width: 35rem;
	height: 40rem;
	border-radius: 15px;
	margin-top: 5rem;
	background-color: #555658;
	border-top: #2C9221 solid 6px;
	color: #D7D9DE;
}

.form-header {
	margin-top: 1.4rem;
	font-size: 2.2rem;
}

.form-input-name, .form-input-category, .form-description {
	width: 26rem;
	height: 2.5rem;
	margin-top: 1.4rem;
	border-radius: 7px;
	background-color: #DEE2E2;
}

.form-description {
	height: 6rem;
}

.form-submit {
	background-color: #2C9221;
	width: 18rem;
	height: 2.24rem;
	border-radius: 8px;
	margin-top: 2rem;
}


.ad-img {
	background-color: #fff;
	width: 15rem;
	height: 10rem;
	margin-left: 4.7rem;
	margin-top: 2rem;
}

.ad-name {
	color: #DCE0E8;
	margin-top: 1.5rem;
}

.ad-category {
	color: #DCE0E8;
	margin-top: 1.2rem;
	font-size: 1.38rem;
}

.categories {
	margin-top: 1.2rem;
	color: #773DA2;
}