<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="background-form hide">
			<div class="form-ad">
				<h1 class="form-header">Создание объявления</h1>
				<div class="add-img"></div>
				<form action="/" method="post">
					<!-- <input type="file" class="add-img" name=""> -->
					<input class="form-input-name" type="text" placeholder="Название">
					<input class="form-input-category" type="text" placeholder="Категория">
					<p><textarea class="form-description" type="text" placeholder="Описание"></textarea></p>
					<input class="form-submit" type="submit" value="Сохранить">
					<button class="form-close">Отмена</button>
				</form>
			</div>
		</div>

		<div class="header row">
			<input type="" name="" class="searchinput">
		</div>

		<div class="prev row" style="margin-top: 5em">
			<div class="col-1"></div>

			<div class="filter col-2"></div>
			<div class="content col">
				<div class="ad" class="ad" style="margin-top: 0px;">
					<div class="ad-img"></div>
					<h2 class="ad-name">Шахматы</h2>
					<p class="ad-category">Категория:</p>
					<a href="#" class="categories">Кружки, обучение</a>
				</div>
				<div class="ad" class="ad" style="margin-top: 0px;">
					<div class="ad-img"></div>
					<h2 class="ad-name">Частная школа</h2>
					<p class="ad-category">Категория:</p>
					<a href="#" class="categories">Школа, учебное учериждение</a>
				</div>
			</div>

			<div class="slk col-2">
				<button class="create-ad">Создать</button>
			</div>

			<div class="col-1"></div>
		</div>
	</div>
</body>

</html>