<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<title>Главная</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="background hide">
			<div class="form-ad hide">
				<h1 class="form-header">Создание объявления</h1>
					<img class="ad-img hide">
					<input type="file" style="display: none;" id="add-img" placeholder="Загрузить картинку">
					<label class="add-img" for="add-img">Выбрать картинку для объявления</label>
					<input class="form-input-name" type="text" placeholder="Название">
					<p><textarea class="form-description" type="text" placeholder="Описание"></textarea></p>
					<input class="form-contacts" type="text" placeholder="Ваши контакты (почта или номер телефона)">
					<button class="form-input-category">Выбрать категорию</button>
					<input class="form-submit" type="submit" value="Сохранить">
					<button class="form-close">Отмена</button>
			</div>

			<div class="expanded-ad hide">
				<div class="expanded-ad-img"></div>
				<div class="expanded-ad-name"></div>
				<div class="expanded-ad-category">
					<p class="expanded-ad-category-title">Категории: </p>
					<a class="expanded-ad-category-text"></a>
				</div>
				<div class="expanded-ad-description">
					<p class="expanded-ad-description-title">Описание: </p>
					<p class="expanded-ad-description-text"></p>
				</div>
				<div class="expanded-ad-contacts">
					<p class="expanded-ad-contacts-title">Контакты: </p>
					<p class="expanded-ad-contacts-text"></p>
				</div>
				<button class="expanded-ad-close">Закрыть</button>
			</div>

			<div class="select-category-form hide">
				<div class="checkbox-wrap">
					<input class="checkbox" type="checkbox" id="education">
					<label class="checkbox-text" for="education">Образование и обучение</label>
				</div>

				<div class="checkbox-wrap">
					<input class="checkbox" type="checkbox" id="music">
					<label class="checkbox-text" for="music">Музыка</label>
				</div>

				<div class="checkbox-wrap">
					<input class="checkbox" type="checkbox" id="sport">
					<label class="checkbox-text" for="sport">Спорт</label>
				</div>

				<div class="checkbox-wrap">
					<input class="checkbox" type="checkbox" id="work">
					<label class="checkbox-text" for="work">Работа</label>
				</div>

				<div class="checkbox-wrap">
					<input class="checkbox" type="checkbox" id="exact-sciences">
					<label class="checkbox-text" for="exact-sciences">Точные науки</label>
				</div>

				<div class="checkbox-wrap">
					<input class="checkbox" type="checkbox" id="humanitarian-sciences">
					<label class="checkbox-text" for="humanitarian-sciences">Гуманитарные науки</label>
				</div>

				<div class="checkbox-wrap">
					<input class="checkbox" type="checkbox" id="art">
					<label class="checkbox-text" for="art">Исскусство</label>
				</div>

				<div class="checkbox-wrap">
					<input class="checkbox" type="checkbox" id="section">
					<label class="checkbox-text" for="section">Кружки и секции</label>
				</div>
				<button class="save-categories">Завершить создание</button>
			</div>
		</div>

		<div class="header row">
			<div class="col-2"></div>
			<div class="search-wrap col">
				<input type="" name="" class="searchinput">
				<img class="search-img" src="../static/img/search.png"/>
			</div>
			<div class="col-2"></div>
		</div>

		<div class="prev row" style="margin-top: 5em">
			<div class="col-1"></div>

			<div class="filter col-2">
				<h2 align="center" class="filter-title">Фильтры</h2>
				<div class="filter-checkbox-wrap">
					<input class="filter-checkbox" type="checkbox" id="filter-education">
					<label class="filter-checkbox-text" for="filter-education">Образование и обучение</label>
				</div>
				<div class="filter-checkbox-wrap">
					<input class="filter-checkbox" type="checkbox" id="filter-music">
					<label class="filter-checkbox-text" for="filter-music">Музыка</label>
				</div>
				<div class="filter-checkbox-wrap">
					<input class="filter-checkbox" type="checkbox" id="filter-sport">
					<label class="filter-checkbox-text" for="filter-sport">Спорт</label>
				</div>
				<div class="filter-checkbox-wrap">
					<input class="filter-checkbox" type="checkbox" id="filter-work">
					<label class="filter-checkbox-text" for="filter-work">Работа</label>
				</div>
				<div class="filter-checkbox-wrap">
					<input class="filter-checkbox" type="checkbox" id="filter-exact-sciences">
					<label class="filter-checkbox-text" for="filter-exact-sciences">Точные науки</label>
				</div>
				<div class="filter-checkbox-wrap">
					<input class="filter-checkbox" type="checkbox" id="filter-humanitarian-sciences">
					<label class="filter-checkbox-text" for="filter-humanitarian-sciences">Гуманитарные науки</label>
				</div>
				<div class="filter-checkbox-wrap">
					<input class="filter-checkbox" type="checkbox" id="filter-art">
					<label class="filter-checkbox-text" for="filter-art">Исскусство</label>
				</div>
				<div class="filter-checkbox-wrap">
					<input class="filter-checkbox" type="checkbox" id="filter-section">
					<label class="filter-checkbox-text" for="filter-section">Кружки и секции</label>
				</div>
				<div class="select-category-filter">Найти</div>
			</div>
			
			<div class="content col">
				<div class="content-wrap">
					{%for i in data%}
						<div class="ad">
							<img src="{{i[7]}}" class="ad-img">
							<h2 class="ad-name">{{i[1]}}</h2>
							<p class="ad-category">Категория:</p>
							<a href="#" class="categories">{{i[3]}}</a>
							<p class="hide">{{i[4]}}</p>
							<p class="hide">{{i[5]}}</p>
						</div>
					{%endfor%}
				</div>
				
				<div class="render-btn">
					<p class="text-render-btn">Еще 20 объявлений</p>
				</div>
			</div>

			<div class="slk col-2">
				<p class="slk-user-name">{{session['login']}}</p>
				<div class="singin">
					<a href="/auth" class="singin-link">Войти</a>
				</div>
				<button class="create-ad">Создать</button>
			</div>

			<div class="col-1"></div>
		</div>
	</div>
</body>

</html>